.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 500px;
  gap: 20px;
  justify-content: space-around;
}
.click {
  display: flex;
  flex-direction: row;

  margin: 30px auto;
  width: 500px;
  gap: 5px;
  justify-content: space-around;
}
.btn {
  width: 60px;
}
